.about__us {
    display: flex;
    justify-content: space-between;
    padding: 175px 0;
    @media (max-width: 1024px) {
        padding: 145px 0;
    }
    @media (max-width: 768px) {
        padding: 100px 0;
    }
    @media (max-width: 480px) {
        flex-direction: column;
        padding: 0 0 80px;
    }

    .about__img_big {
        width: 590px;
        height: 666px;
        @media (max-width: 1024px) {
            width: 383px;
            height: 583px;
        }
        @media (max-width: 768px) {
            width: 276px;
            height: 408px;
        }
        @media (max-width: 480px) {
            display: none;
        }
    }
    .about__img_480 {
        display: none;
        @media (max-width: 480px) {
            display: block;
            margin: 0 auto;
        }
        @media (max-width: 320px) {
            width: 300px;
            margin: 0 auto;
        }
    }
}
.about__description {
    margin-left: 120px;
    @media (max-width: 1024px) {
        margin-left: 110px;
    }
    @media (max-width: 768px) {
        margin-left: 54px;
    }
    @media (max-width: 480px) {
        margin: 0;
    }
    h3 {
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        line-height: 28px;
        color: #858585;
        padding-bottom: 30px;
        @media (max-width: 1024px) {
            font-size: 20px;
            padding-bottom: 20px;
        }
        @media (max-width: 768px) {
            font-size: 15;
            line-height: 12px;
            padding-bottom: 20px;
        }
        @media (max-width: 480px) {
            padding: 80px 0 15px;
        }
        @media (max-width: 320px) {
            text-align: center;
            padding: 80px 0 20px;
        }
    }
    h2 {
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: -0.4000000059604645px;
        margin-bottom: 75px;
        color: #424242;
        @media (max-width: 1024px) {
            margin-bottom: 40px;
            font-size: 24px;
            line-height: 25px;
        }
        @media (max-width: 768px) {
            margin-bottom: 34px;
            font-size: 25px;
            line-height: 26px;
        }
        @media (max-width: 320px) {
            text-align: center;
        }


        span {
            color: #55A630;
        }
        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 26px;
        }
        @media (max-width: 768px) {
            font-size: 25px;
        }
    }
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        padding-bottom: 10px;
        color: #424242;
        @media (max-width: 1024px) {        
            font-size: 20px;
            line-height: 25px;
        }
        @media (max-width: 768px) {
            font-size: 15px;
            line-height: 20px;
        }
        @media (max-width: 320px) {
            text-align: center;
        }
    }    
}
.about__detail {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 60px;
    @media (max-width: 1024px) {
        margin-top: 102px;
    }
    @media (max-width: 768px) {
        margin-top: 18px;
    }
    
    span{
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        line-height: 28px;
        color: #55A630;
        @media (max-width: 1024px) {
            font-size: 20px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    img{
        width: 58px;
        height: 10px;
        margin-left: 48px;
        @media (max-width: 1024px) {
            width: 43px;
            margin-left: 42px;
        }
        @media (max-width: 768px) {
            width: 35px;
            margin-left: 14px;
        }
    }
}