.courses {
    background-image: url(/src/assets/images/courses/courses_bg.svg);
    background-repeat: no-repeat;
    background-position: right top;
        @media (max-width: 768px) {
            background-size: 564px 418px;
        }
        @media (max-width:480px) {
            background-size: 526px 391px;
        }
        @media (max-width: 320px) {
            background-image: none;
        }
}
.target__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 57px 50px;
    background: #FFFFFF;
    box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
    border-radius: 4px;
    margin: -10px 0 0;
    @media (max-width: 1024px) {
        padding: 43px 36px 38px;
        margin: -10px 0 0;
    }
    @media (max-width: 768px) {
        padding: 13px 20px 20px 23px;
        margin-top: 30px;
    }
    @media (max-width: 480px) {
        padding: 13px 20px 19px;
        margin: -10px 0 0;
    }
    @media (max-width: 320px) {
        flex-direction: column;
        max-width: 188px;
        margin: -45px auto 0;
    }
    .target320 {
        @media (max-width: 320px) {
        display: flex;
        justify-content: space-between;
        }
    }

    .item1 {
        font-family: Montserrat;
        font-size: 45px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        color: #55A630;
        margin-bottom: 18px;
        @media (max-width: 1024px) {
            font-size: 40px;
        }
        @media (max-width: 768px) {
            font-size: 25px;
        }
        @media (max-width: 480px) {
            font-size: 17px;
            line-height: 45px;
            margin: 0;
        }
        
    }
    .item2 {
        font-family: Montserrat;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        color: #424242;
        @media (max-width: 1024px) {
            font-size: 20px;
            line-height: 21px;
        }
        @media (max-width: 768px) {
            font-size: 13px;
            line-height: 15px;
        }
        @media (max-width: 480px) {
            font-size: 8px;
            line-height: 10px;
            display: flex;
            align-items: center;
            max-width: 64px;
        }
        @media (max-width: 320px) {
            margin-left: 21px;
            text-align: start;
        }
    }
}
/*------main-------*/
.courses__title {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #424242;
    padding: 175px 0 77px;
    @media (max-width: 1024px) {
        font-size: 30px;
        line-height: 28px;
        padding: 140px 0 75px;
    }
    @media (max-width: 768px) {
        font-size: 20px;        
        padding: 100px 0 25px;
    }
    @media (max-width: 480px) {
        padding: 80px 0 40px;
    }
}

/*-----cards------*/
.card__slider {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 480px) {
        margin-left: -43%;
        overflow: hidden;
    }
    @media (max-width: 320px) {
        margin-left: -62%;
    }

    .trianle__left {
        border: none;
        background: none;
        position: absolute;
        top: 260px;
        left: -20px;
        @media (max-width: 1024px) {
            display: none;
        }
        @media (max-width: 768px) {
            display: block;
            top: 200px;
        }
        img {
            @media  (max-width: 768px){
                width: 10px;
                height: 16px;
            }
        }
        @media (max-width: 480px) {
            display: none;
        }
    }
    .triangle__right {
        border: none;
        background: none;
        position: absolute;
        top: 260px;
        right: -20px;
        @media (max-width: 1024px) {
            display: none
        }
        @media (max-width: 768px) {
            display: block;
            top: 200px;
        }
        img {
            @media (max-width: 768px){
                width: 10px;
                height: 16px;
            }
        }
        @media (max-width: 480px) {
            display: none;
        }
    }
}

.slider__top {
    display: flex;
    justify-content: space-between;

    p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #424242;
        padding: 15px 0 0 16px;
        @media (max-width: 1024px) {
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
        }
        @media (max-width: 768px) {
            font-size: 10px;
        }
        @media (max-width: 480px) {
            padding: 10px 0 0 10px;
        }

    }
    img {
        width: 44px;
        height: 31px;
        margin: 15px 16px 0;
        @media (max-width: 1024px) {
            width: 36px;
            height: 27px;
        }
        @media (max-width: 768px) {
            width: 24px;
            height: 16px;
        }
    }
}
.slider__wrapper {
    width: 360px;
    height: 583px;
    background-color: #FFFFFF;
    @media (max-width: 1024px) {
        width: 300px;
        height: 509px;
    }
    @media (max-width: 768px) {
        width: 202px;
        height: 311px;
    }
    @media (max-width: 480px) {
        margin-right: 25px;
    }
    .purple__h3 {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.4000000059604645px;
        color: #4340B4;
        margin-bottom: 23px;
        padding-left: 16px;
        @media (max-width: 1024px) {
            font-size: 25px;
            line-height: 25px;
        }
        @media (max-width: 768px) {
            font-size: 17px;
            line-height: 17px;
        }
        @media (max-width: 480px) {
            margin-bottom: 6px;
            padding-left: 9px;
        }
    }
    .lgreen__h3 {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.4000000059604645px;
        color: #55A630;
        margin-bottom: 23px;
        padding-left: 16px;
        @media (max-width: 1024px) {
            font-size: 25px;
            line-height: 25px;
        }
        @media (max-width: 768px) {
            font-size: 17px;
            line-height: 17px;
        }
        @media (max-width: 480px) {
            margin-bottom: 6px;
            padding-left: 9px;
        }
    }
    .green__h3 {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.4000000059604645px;
        color: #1D8195;
        margin-bottom: 23px;
        padding-left: 16px;
        @media (max-width: 1024px) {
            font-size: 25px;
            line-height: 25px;
        }
        @media (max-width: 768px) {
            font-size: 17px;
            line-height: 17px;
        }
        @media (max-width: 480px) {
            margin-bottom: 6px;
            padding-left: 9px;
        }
    }
    .purple__h4{
        display: flex;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: #FFFFFF;
        background: #4340B4;
        border-radius: 9px;
        width: 166px;
        height: 39px;
        justify-content: center;
        align-items: center;
        margin: 0 0 27px 16px;
        @media (max-width: 1024px) {
            width: 141px;
            height: 34px;
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 18px 22px;
        }
        @media (max-width: 768px) {
            width: 90px;
            height: 18px;
            font-size: 10px;
            line-height: 20px;
            margin: 0 0 11px 16px;
        }
        @media (max-width: 480px) {
            margin: 0 0 12px 9px;
        }
    }
    .lgreen__h4 {
        display: flex;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: #FFFFFF;
        background: #55A630;
        border-radius: 9px;
        width: 166px;
        height: 39px;
        justify-content: center;
        align-items: center;
        margin: 0 0 27px 16px;
        @media (max-width: 1024px) {
            width: 141px;
            height: 34px;
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 18px 22px;
        }
        @media (max-width: 768px) {
            width: 90px;
            height: 18px;
            font-size: 10px;
            line-height: 20px;
            margin: 0 0 11px 16px;
        }
        @media (max-width: 480px) {
            margin: 0 0 12px 9px;
        }
    }
    .green__h4 {
        display: flex;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: #FFFFFF;
        background: #00A896;
        border-radius: 9px;
        width: 166px;
        height: 39px;
        justify-content: center;
        align-items: center;
        margin: 0 0 27px 16px;
        @media (max-width: 1024px) {
            width: 141px;
            height: 34px;
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 18px 22px;
        }
        @media (max-width: 768px) {
            width: 90px;
            height: 18px;
            font-size: 10px;
            line-height: 20px;
            margin: 0 0 11px 16px;
        }
        @media (max-width: 480px) {
            margin: 0 0 12px 9px;
        }
    }
    p {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: #424242;
        padding-left: 16px;
        @media (max-width: 768px) {
            font-size: 13px;
            line-height: 20px;
        }
    }
}

.slider__text {
    display: flex;
    justify-content: space-between;
    margin: 0 16px ;
    @media (max-width: 480px) {
        margin: 0 9px;
    }        
    .slider__description_purple {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #424242;
        border-left: 2px solid #5351C4;    
        width: 164px;
        height: 103px;
        padding-left: 9px;
        margin: 54px 0;
        @media (max-width: 1024px) {
            width: 134px;
            height: 90px;
            margin: 47px 0;
        }
        @media (max-width: 768px) {
            font-size: 9px;
            line-height: 8px;
            width: 90px;
            height: 55px;
            margin: 12px 0 37px;
        }
        @media (max-width: 480px) {
            margin: 25px 0 31px;
        }
    }
    .slider__description_lgreen {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #424242;
        border-left: 2px solid #55A630;    
        width: 164px;
        height: 103px;
        padding-left: 9px;
        margin: 54px 0;
        @media (max-width: 1024px) {
            width: 134px;
            height: 90px;
            margin: 47px 0;
        }
        @media (max-width: 768px) {
            font-size: 9px;
            line-height: 8px;
            width: 90px;
            height: 55px;
            margin: 12px 0 37px;
        }
        @media (max-width: 480px) {
            margin: 25px 0 31px;
        }
    }
    .slider__description_green {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #424242;
        border-left: 2px solid #00A896;    
        width: 164px;
        height: 103px;
        padding-left: 9px;
        margin: 54px 0;
        @media (max-width: 1024px) {
            width: 134px;
            height: 90px;
            margin: 47px 0;
        }
        @media (max-width: 768px) {
            font-size: 9px;
            line-height: 8px;
            width: 90px;
            height: 55px;
            margin: 12px 0 37px;
        }
        @media (max-width: 480px) {
            margin: 25px 0 31px;
        }
    }

    img {
        width: 135px;
        height: 159px;
            @media (max-width: 1024px) {
                width: 110px;
                height: 140px;
            }
            @media (max-width: 768px) {
            width: 74px;
            height: 85px;
            }
    }
}
.slider__face {
    display: block;
    span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-left: 16px;
        @media (max-width: 1024px) {
            font-size: 15px;
        }
        @media (max-width: 768px){
        font-size: 9px;
        margin-left: 10px;
        }
    }
}
.button__purple {
    width: 360px;
    height: 56px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #4340B4;
    border: none;
    margin-top: 20px;
    @media (max-width: 1024px) {
        width: 300px;
        height: 49px;
        font-size: 18px;
        margin-top: 17px;
    }
    @media (max-width: 768px) {
        width: 196px;
        height: 30px;
        font-size: 11px;
        margin-top: 4px;
    }
}
.button__lgreen {
    width: 360px;
    height: 56px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #55A630;
    border: none;
    margin-top: 20px;
    @media (max-width: 1024px) {
        width: 300px;
        height: 49px;
        font-size: 18px;
        margin-top: 17px;
    }
    @media (max-width: 768px) {
        width: 196px;
        height: 30px;
        font-size: 11px;
        margin-top: 4px;
    }
}
.button__green {
    width: 360px;
    height: 56px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #00A896;
    border: none;
    margin-top: 20px;
    @media (max-width: 1024px) {
        width: 300px;
        height: 49px;
        font-size: 18px;
        margin-top: 17px;
    }
    @media (max-width: 768px) {
        width: 196px;
        height: 30px;
        font-size: 11px;
        margin-top: 4px;
    }
}
.link__purple {
    display: flex;
    width: 360px;
    height: 56px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #4340B4;
    background-color: #5351C41A;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
        width: 300px;
        height: 49px;
        font-size: 18px;
    }
    @media (max-width: 768px) {
        width: 196px;
        height: 30px;
        font-size: 11px;
    }
}
.link__lgreen {
    display: flex;
    width: 360px;
    height: 56px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #55A630;
    background-color: #ECF9EB;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
        width: 300px;
        height: 49px;
        font-size: 18px;
    }
    @media (max-width: 768px) {
        width: 196px;
        height: 30px;
        font-size: 11px;
    }
}
.link__green {
    display: flex;
    width: 360px;
    height: 56px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #00A896;
    background-color: #00A8961A;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
        width: 300px;
        height: 49px;
        font-size: 18px;
    }
    @media (max-width: 768px) {
        width: 196px;
        height: 30px;
        font-size: 11px;
    }
}
.slider__courusel {
    display: flex;
    justify-content: center;
    padding-top: 75px;        
        @media (max-width: 768px) {
            padding-top: 65px;;
        }
        @media (max-width: 480px) {
            padding-top: 39px;;
        }

    .slider__round_active{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #55A630;
        @media (max-width: 768px) {
            width: 7px;
            height: 7px;
        }
        @media (max-width: 480px) {
            width: 5px;
            height: 5px;
        }
    }
    .slider__round{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #B7ECB1;
        margin-left: 16px;
        @media (max-width: 768px) {
            width: 7px;
            height: 7px;
            margin-left: 8px;
        }
        @media (max-width: 480px) {
            width: 5px;
            height: 5px;
            margin-left: 5px;
        }
    }
}
