.ebinar {
    background-color: #ECFFEB;
    position: relative;
    padding: 71px 0 138px;    
    background-image: url(/src/assets/images/webinar/woman.png); 
    background-repeat: no-repeat;
    background-position: top right;
    @media (max-width: 768px) {
        padding: 38px 0 30px;
    }
}