.header {
    .content {
        @media (max-width: 768px) {
            max-width: calc(718px + 8px * 2);
            width: 100%;
        }
        @media (max-width: 480px) {
            max-width: calc(445px + 8px * 2);
        }
        @media (max-width: 320px) {
            max-width: calc(300px + 8px * 2);
        }
    }
}
.burger {
    display: none;
    @media (max-width: 1024px) {
        display: block;
        border: none;
        background: transparent;
    }
}
.top__menu {
    display: flex;
    justify-content: space-between;    
}
.logo__about {
    display: flex;
    align-items: center;
    margin: 12px 0;

    img {
        width: 61px;
        height: 63px;
        @media (max-width: 1024px) {
            width: 74px;
            height: 77px;
            margin: 0;
        }
        @media (max-width: 768px) {
            width: 70px;
            height: 72px;
        }
        @media (max-width: 480px) {
            width: 45px;
            height: 46px;
        }
        @media (max-width: 320px) {
            width: 40px;
            height: 42px;
        }
    }
    span {
        margin-left: 11px;
        color: #1C1E23;
        font-family: Montserrat;
        @media (max-width: 1024px) {
            display: none;
        }
    }
}
.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 320px) {
        display: none;
    }

    a {        
        margin-left: 20px;
        
    }
    img {
        width: 28px;
        height: 28px;
    }
}
.social {
    display: flex;
    align-items: center;
    margin-left: 58px;
    @media (max-width: 1024px) {
        display: none;
    }
}
.lang {
    display: flex;
    align-items: center;
    margin-left: 65px;
    @media (max-width: 1024px) {
        display: none;
    }

    img:last-child {
        margin-left: 14px;
        width: 11px;
        height: 6px;
    }
}
.menu__line {
    width: 100%;
    height: 1px;
    background-color: #55A63080;
    @media (max-width: 1024px) {
        display: none;
    }
}
.bottom__menu {
    ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0;
    @media (max-width: 1024px) {
        display: none;
    }
    
    a {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #424242;
    }
    }
}