
.recruit__models {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 175px;
    @media (max-width: 1024px) {
        padding-top: 157px;
    }
    @media (max-width: 768px) {
        padding-top: 100px;
    }
    @media (max-width: 480px) {
        flex-direction: column;
        padding-top: 80px;
    }
    .recruit_img {
        @media (max-width: 1024px) {            
            width: 464px;
            height: 372px;
        }
        @media (max-width: 768px) {
            width: 276px;
            height: 279px;
        }
        @media (max-width: 480px) {
            display: none;            
        }
        
    }   
    .recruit_img-480 {
        display: none;
        @media (max-width: 480px) {
            display: block;
            width: 360px;
            height: 129px;
        }
    }
}
.recruit__description {
    padding-right: 74px;
    @media (max-width: 1024px) {
        padding-right: 39px;
    }
    @media (max-width: 768px) {
        padding-right: 0;
    }
    h2 {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 46px;
        color: #55A630;
        margin-bottom: 75px;
        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 27px;
            margin-bottom: 40px;
        }
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 27px;
            margin-bottom: 20px;
        }
        @media (max-width: 480px) {
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }
    }
    p {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        color: #424242;
        padding: 10px 0 97px;
        @media (max-width: 1024px) {
            font-size: 20px;
            line-height: 25px;
            padding: 53px 0 47px;
        }
        @media (max-width: 768px) {
            font-size: 15px;
            line-height: 20px;
            padding: 10px 0 35px;
        }
        @media (max-width: 480px) {
            line-height: 16px;
            padding-bottom: 40px;
            text-align: center;            
        }
        }
        .recruit__p {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 25px;
            line-height: 31px;
            color: #424242;
            padding: 10px 0 97px;
            @media (max-width: 1024px) {
                font-size: 20px;
                line-height: 25px;
                padding: 0;
            }
            @media (max-width: 768px) {
                font-size: 15px;
                line-height: 20px;
                padding: 0 0 25px;
            }
            @media (max-width: 480px) {
                line-height: 16px;
                padding: 0 0 15px;
                text-align: center;            
            }
        }
    
    a {
        display: block;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 23px;
        line-height: 26px;
        color: #FFFFFF;
        width: 385px;
        height: 75px;
        background-color: #55A630;
        text-align: center;
        padding: 25px;
        align-items: flex-end;
        @media (max-width: 1024px) {
            font-size: 20px;
            width: 298px;
            height: 55px;
            padding: 15px;
        }
        @media (max-width: 768px) {
            font-size: 15px;
            width: 201px;
            height: 40px;
            padding: 7px;
        }
        @media (max-width: 480px) {
            line-height: 14px;
            margin: 0 auto 24px;
            padding: 12px;
        }
    }
}