@import url(/src/assets/sass/header.scss);
@import url(/src/assets/sass/webinar.scss);
@import url(/src/assets/sass/courses.scss);
@import url(/src/assets/sass/about.scss);
@import url(/src/assets/sass/study.scss);
@import url(/src/assets/sass/recruit.scss);
@import url(/src/assets/sass/master__class.scss);
@import url(/src/assets/sass/why.scss);
@import url(/src/assets/sass/offer.scss);
@import url(/src/assets/sass/application.scss);
@import url(/src/assets/sass/footer.scss);
@import url(/src/assets/sass/ebinar.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #424242;
    ;
}
.content {
    max-width: calc(1170px + 15px * 2);
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;  
    @media (max-width: 1024px) {
        max-width: calc(942px + 8px * 2);
    }
    @media (max-width: 768px) {
        max-width: calc(626px + 8px * 2);
    }
}