.why__title {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #424242;
    padding-bottom: 75px;
    @media (max-width: 1024px) {
        font-size: 30px;
        padding-bottom: 50px;
    }
    @media (max-width: 768px) {
        font-size: 25px;
    }
    @media (max-width:480px) {
        font-size: 20px;
        padding-bottom: 40px;
    }    
}
.why__cards {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.why__card_title {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    padding: 40px 0 30px 30px;
    color: #424242;
    @media (max-width: 1024px) {
        font-size: 20px;
        padding: 45px 0 13px 24px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 26px;
        padding-top: 15px;
        padding-left: 221px;
        text-align: start;
    }
    @media (max-width: 480px) {
        font-size: 15px;
        padding-left: 106px;
    }
    @media (max-width: 320px) {
        padding: 34px 0 0 86px;
    }
}
.why__description {
    background-image: url(/src/assets/images/why/01.png);
    background-position: bottom 22px right 26px;
    background-repeat: no-repeat;
    width: 380px;    
    box-shadow: 0px 2px 20px rgba(66, 66, 66, 0.15);    
    @media (max-width: 768px) {
        width: 642px;
        height: 142px;
        background-position: left 10px center;
        margin-bottom: 30px;
    }
    @media (max-width: 480px) {
        width: 355px;
        height: 220px;
        background-position: center left 10px;
        margin-bottom: 40px;
        background-size: 162px 99px;
    }
    @media (max-width: 320px) {
        width: 300px;
        height: 235px;
        background-position: top 10px center;
        background-size: 49px 39px;
    }
}
.why__description3 {
    background-image: url(/src/assets/images/why/03.png);
    background-position: bottom 22px right 26px;
    background-repeat: no-repeat;
    width: 380px;    
    box-shadow: 0px 2px 20px rgba(66, 66, 66, 0.15);
    @media (max-width: 768px) {
        width: 642px;
        height: 142px;
        background-position: left 10px center;
    }
    @media (max-width: 480px) {
        width: 355px;
        height: 220px;
        background-position: center left 10px;
        background-size: 162px 99px;
    }
    @media (max-width: 320px) {
        width: 300px;
        height: 235px;
        background-position: top 10px center;
        background-size: 49px 39px;
    }
}
.why__description_active {
    background-color: #B7ECB1;
    background-image: url(/src/assets/images/why/02.png);
    background-position: top 22px right 26px;
    background-repeat: no-repeat;
    margin: 0 30px;
    width: 380px;
    height: 315px;
    box-shadow: 0px 2px 20px rgba(66, 66, 66, 0.15);
    @media (max-width: 768px) {
        width: 642px;
        height: 142px;
        margin: 0;
        background-position: left 10px center;
        margin-bottom: 30px;
    }
    @media (max-width: 480px) {
        width: 355px;
        height: 220px;
        background-position: center left 10px;
        margin-bottom: 40px;
        background-size: 162px 99px;
    }
    @media (max-width: 320px) {
        width: 300px;
        height: 235px;
        background-position: top 10px center;
        background-size: 49px 39px;
    }
}
.why__card_text {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #1C1E23;
        padding: 0 20px 0 30px;
        @media (max-width: 1024px) {
            font-size: 15px;
            line-height: 17px;
            padding: 13px 5px 0 24px;
        }
        @media (max-width: 768px) {
            padding: 0 5px 0 221px;
        }
        @media (max-width: 480px) {
            font-size: 15px;
            line-height: 19px;
            padding: 0 10px 0 106px;
        }
        @media (max-width: 320px) {
            padding: 17px 0 0 20px;
        }
}
